body {
  font-family: 'Young Serif', serif;
}

.titulo-principal {
  padding-left: 20px;
  text-align: center;
}

.menu {
  background: indigo;
}

#logo {
  width: 100%
}

.principal {
  background: midnightblue;
  color: white;
  padding: 30px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#objetivo {
  font-size: 15px;
}

i {
  color: lightgreen;
}

nav {
  position: static; 
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

/* Definições para a página Sobre nós 
*/ 
.objetivos {
  text-align: left;
  background: midnightblue;
  color: white;
  padding: 20px;
}

/* Definições para a página Encontro 
*/ 

.encontro {
  text-align: center;
  background: indigo;
  color: white;
  padding: 20px; 
}

.arteencontros {
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
}

.arteencontros li {
	display: inline-block;
	text-align: center;
	width: 40%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 10px 10px; 
	box-sizing: border-box;
	border: 2px solid #FFFFFF;
	border-radius: 100px;
}

#encontro {
	text-align: center;
    max-width: 80%;
    max-height: 80%;
} 

.mapa {
  text-align: center; 
  padding: 2em 20px;
  background: indigo;
  color: white;
}

  /* definições para a página de Contato */
 
form {
  margin: 40px 0;
}

form label, form legend {
  display: block;
  text-align: left;
  font-size: 15px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 20px;
  width: 50%
}

.checkbox {
  margin: 0 0 20px;
} 

.paginaparacontato {
  text-align: left;
  background: midnightblue;
  color: white;
  padding: 20px;
}

.enviar {
  width: 35%;
  padding: 15px 0px;
  background: #26a126;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkgreen;
  transform: scale(1.1);
}

